

.todo-item-label {
    display: flex;
    gap: 5px;
    align-items: center;
}

.line-through {
    text-decoration: line-through;
}

.todo-delete-button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: red;
    cursor: pointer;
}